
  <footer>
    <div class="footerItem1">
      <ul>
        <li>
          <p>Slabs360</p>
        </li>
        <li><a href="#">Slabs360</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Media Kit</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footerItem2">
      <ul>
        <li>
          <p>Support</p>
        </li>
        <li><a href="#">Helpdesk</a></li>
        <li><a href="#">Webinar</a></li>
        <li><a href="#">How-to Videos</a></li>
        <li><a href="#">Contact Support</a></li>
        <li><a href="#">Schedule a demo</a></li>
      </ul>
    </div>
    <div class="footerItem3">
      <ul>
        <li>
          <p>Resourses</p>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Solution</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Alternatives</a></li>
        <li><a href="#">Uses</a></li>
        <li><a href="#">Guides</a></li>
      </ul>
    </div>
    <div class="footerItem4">
      <ul>
        <li>
          <p>On Premise</p>
        </li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Documentation</a></li>
      </ul>
    </div>
  </footer>

  <div class="footer-search">
    <form class="footer-search__form" action="/search/">
      <input type="text" name="q" placeholder="Search" class="footer-search__input">
      <!-- <input type="submit" class="footer-search__submit"> -->
    </form>
  </div>

  <div class="termsAndSocial">
    <div class="termsAndConditions">
      <ul>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">GDPR</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Abuse</a></li>
      </ul>
    </div>
    <div class="socialIcons">
      <ul>
        <li><a href="#"><img src="../../assets/001-facebook.png"></a></li>
        <li><a href="#"><img src="../../assets/002-youtube.png"></a></li>
        <li><a href="#"><img src="../../assets/004-linkedin.png"></a></li>
        <li><a href="#"><img src="../../assets/005-instagram.png"></a></li>
        <li><a href="#"><img src="../../assets/007-twitter.png"></a></li>
        <li><a href="#"><img src="../../assets/011-whatsapp.png"></a></li>
        <li><a href="#"><img src="../../assets/014-skype.png"></a></li>
      </ul>
    </div>
  </div>

