


.secondContent {
    margin-top: 63px;
    background-image: linear-gradient(to right,#00cec9 ,#6c5ce7, #FEA47F);
    padding-top: 50px;
}
.grid-Container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 10%;
    margin-left: 10%;
}
.grid-Container1 .grid-item1 h1 {
    margin-top: 4%;
    margin-bottom: 7%;
    font-size: 260%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.grid-Container1 .grid-item2 button {
   
    margin-left: 72%;
    margin-top: 5%;
    border-radius: 30px;
    padding: 3% 9% 3% 9%;
    background-color: blue;
    border: none;
}
.grid-Container1 .grid-item2 button a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

section.sec2 {
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    .flexBox {
        display: flex;
        .flexItem h1 {
            margin-left: 140px;
       
        }
        .flexItem p li{
margin-left: 140px;
color: blue;
line-height: 28px;
        }
        .flexItem p li a {
            text-decoration: none;
        }
        .flexItem p li span {
            color: black;
        }
    }

}