
<div class="sMContainer">
    <div class="secondContent">
        <div class="grid-Container1">
          <div class="grid-item1">
            <h1>Slabs360Care</h1>
          </div>
    
          <div class="grid-item2">
            <button><a href="#">DOWNLOAD</a></button>
          </div>
        </div>
      </div>
</div>

<section class="sec2">
    <div class="flexBox">
        <div class="flexItem">
          <h1>Frequently Asked Questions</h1>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        NEW
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                      <li> <a href="#">Meet new Bitrix24 Boston. Watch the Presentation here</a></li>
                      <li> <a href="#">My reports</a></li>
                      <li> <a href="#">Checklists in Mobile tasks</a></li>
                      <li> <a href="#">Duplicate Control</a></li>
                      <li> <a href="#">Transfer CRM settings</a></li>
                      <li> <a href="#">Important! TLS 1.0/1.1 protocols: end of support</a></li>
                      <li> <a href="#">Work schedules</a></li>
                      <li> <a href="#">Merge deals</a></li>
                      <li> <a href="#">Copy workgroups and projects</a></li>
                      <li> <a href="#">Sales trends</a></li>
                      <li> <a href="#">Change the online store catalog title</a></li>
                      <li> <a href="#">New Mobile Tasks</a></li>
                      <li> <a href="#">AI Scoring in CRM</a></li>
                      <li> <a href="#">Knowledge base</a></li>
                      <li> <a href="#">Workgroup (project) knowledge base</a></li>
                      <li> <a href="#">Standard and nested menus</a></li>
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        How to start?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    <li> <a href="#">Getting Started</a></li>
                    <li> <a href="#">Difference between Cloud & Self-hosted (on premise)</a></li>
                    <li> <a href="#">Invite Bitrix24 Partner</a></li>
                    <li> <a href="#">Slabs360 Support</a></li>
                    
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Activity Stream
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      <li> <a href="#">Convert an Activity Stream post to a task</a></li>
                     
                      
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Chats and Calls
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      <li> <a href="#">Bitrix24 Messenger Overview (chats, voice & video calls)</a></li>
                      <li> <a href="#">Chat to Task and Send Chat Messages to the Activity Stream</a></li>
                      
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Sales Intelligence (beta)
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      <li> <a href="#">Sales Intelligence analytical reports</a></li>
                      <li> <a href="#">Ad cost analysis in Slabs360 Sales Intelligence</a></li>
                      
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Workgroups
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        <li> <a href="#">Projects & workgroups in Slabs360</a></li>
                        <li> <a href="#">Workgroup Lists</a></li>
                        <li> <a href="#">Workgroup access permissions</a></li>
                      <li> <a href="#">Workgroup tasks</a></li>
                      <li> <a href="#">Workgroups & CRM</a></li>
                      <li> <a href="#">Copy workgroups and projects</a></li>
                      <li> <a href="#">Wiki overview</a></li>
                      <li> <a href="#">Workgroup Lists</a></li>
                      
                    </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Calendars
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                      <li> <a href="#">Projects & workgroups in Slabs360</a></li>
                      <li> <a href="#">Workgroup Lists</a></li>
                      
                    </p>
                  </mat-expansion-panel>
              </mat-accordion>
              
        </div>
        <div class="flexItem">
            <h1> Trending topics</h1>
<p>
    <li><a href="#"><span>Slabs360.Sites</span></a></li>
    <li><a href="#"><span>CRM overview</span></a></li>
    <li><a href="#"><span>Contect center</span></a></li>
    <li><a href="#"><span>CRM stream overview</span></a></li>
    <li><a href="#"><span>Open Chenal settings</span></a></li>
    <li><a href="#"><span>Mobile aap feature</span></a></li>
    <li><a href="#"><span>Slabs360 Setting Page</span></a></li>
    <li><a href="#"><span>Login Problems</span></a></li>
    <li><a href="#"><span>CRM Web Forms</span></a></li>
    <li><a href="#"><span>Slabs360 On-premise edition Comparison</span></a></li>
</p>
        </div>
    </div>
</section>

<app-footer></app-footer>