<app-root></app-root>
<div class="sectionHeader">
  <div class="grid-item1">
    <h1>Your Company. <br>United.</h1>
    <p>Free. Unlimited. Online.</p>
    <button>Register Free</button>
  </div>
</div>

<div class="whatIs">
  <h1>What is Slabs360?</h1>
</div>

<div class="whatIsContainer">
  <div class="gridItem1">
    <img src="../../assets/communication.png">
    <p>Communications</p>
  </div>
  <div class="gridItem2">
    <img src="../../assets/crm.png">
    <p>CRM</p>
  </div>
  <div class="gridItem3">
    <img src="../../assets/help (1).png">
    <p>Contact Center</p>
  </div>
  <div class="gridItem4">
    <img src="../../assets/research.png">
    <p>Websites</p>
  </div>
</div>

<div class="whatIsSection">
  <div class="textItem">
    <h1>Communication</h1>
    <h3>Your company. United.</h3>
    <p>Activity stream, group chat, calendars, workgroups and other collaboration tools at your disposal. <span>Learn More</span> </p>
  </div>
  <div class="imageItem">
    <img src="../../assets/dashboard360.png">
  </div>

</div>

<div class="slabsOnPremise">
  <div class="textItem">
    <h1>Slabs360 on premise</h1>
    <p>You can use the self-hosted version of Slabs360 to run on your server. You get full control over data, source
      code access,
      and additional tools, such as helpdesk and e-learning, as well as integration and customization options.</p>
  </div>
  <div class="imageItem">
    <img src="../../assets/server.png">
  </div>
</div>

<div class="ready">
  <h1>Are you Read?</h1>
  <button>Register Free</button>
</div>

<app-footer></app-footer>