<div class="secondContent">
    <div class="grid-Container1">
      <div class="grid-item1">
        <h1>Slabs360 Self-Hosted</h1>
      </div>

      <div class="grid-item2">
        <button><a href="#">DOWNLOAD</a></button>
      </div>
    </div>
  </div>
  
  <div class="ThirdContent">
    <h1>
      On-Premise And Private Cloud Slabs360 Advantages
    </h1>
    <img src="../../assets/img-2.png">
    <h1>Scalable and enterprise ready</h1>
  
  
<p>Bitrix24 on premise editions are ideal for organizations ranging from 50 to 50,000 employees in size. Bitrix24 Enterprise comes with a web<br> clustering module, meaning you can easily scale up from a small trial to a company wide implementation, build high availability failover<br> enterprise portals or deploy independent intranets for each branch, department or subsidiary in your company.</p>
<div class="gridContainer1">
   <div class="grid-item1">
       <img src="../../assets/muti_dep.png">
       <p><a href ="#">Performance and hardware recommendations</a></p>
   </div>
   <div class="grid-item2">
       <ul>
           <li> <span><a href="#"> Low requirements</a></span></li> 
           <li> <span>Role based access rights</span></li> 
           <li> <span>LDAP and Active Directory support</span></li> 
           <li> <span>SSO (NTLM, custom)</span></li> 
           <li> <span><a href="#"> Scalable web cluster application</a></span></li> 
           <li> <span>Independent centrally managed intranets for &emsp; multiple divisions, branches or departments</span></li> 
           <li> <span>Performance monitor</span></li> 
           <li> <span>Web cluster visual configuration tool</span></li> 
           <li> <span>Mobile ready</span></li> 
       </ul>
       <button><a href="#">Learn More</a></button>
   </div>
</div>

</div>
<div class="forthContent">
<h1>Secure</h1>
<p>Hosting Bitrix24 on your own servers gives you full control over your data and who can access it. Data transfer for all users is carried out via an SSL-encrypted connection with a 256-bit key. All popular two factor authorization methods are supported.</p>
<div class="gridContainer1">
<div class="grid-item1">
  <ul>
    <li> <span>Two factor authorization. HOTP (HMAC-Based One-Time Password Algorithm, RFC4226) and TOTP(Time-based One-time Password Algorithm, RFC6238). Token or smartphone app</span></li> 
    <li> <span>SSL</span></li> 
    <li> <span>RSA encryption</span></li> 
    <li> <span>Web Application Firewall</span></li> 
    <li> <span>Custom backup rules</span></li> 
  </ul>
  <button><a href="#">LEARN MORE</a></button>
</div>
<div class="grid-item2">
  <img src="../../assets/img.png">
</div>

</div>
</div>
<div class="fifthContent">
<h1>Private cloud</h1>
<p>Can’t use Skype, Slack, Dropbox, Salesforce and other cloud only solutions inside your organization? With self hosted Bitrix24 you get your own private cloud suite that is fully under your control. In addition to that, you get access to Helpdesk, Idea Management and eLearning modules that aren’t available to cloud Bitrix24 users.</p>
<div class="gridContainer1">
<div class="grid-item1">
 <img src="../../assets/support.png" alt="">
</div>
<div class="grid-item2">
 <ul>
  <li> <span>Video conferencing</span></li> 
  <li> <span>PBX (via VoxImplant cloud server)</span></li> 
  <li> <span>Document management</span></li> 
  <li> <span>Bitrix24.Drive</span></li> 
  <li> <span>Desktop app with document sync</span></li> 
  <li> <span>CRM</span></li> 
  <li> <span>HRIS</span></li> 
  <li> <span>Task and project management</span></li> 
  <li> <span>Instant messenger, XMPP server</span></li> 
  <li> <span><a href="#">Helpdesk</a>  (not in cloud plans)</span></li> 
  <li> <span><a href="#">eLearning</a> (not in cloud plans)</span></li> 
  <li> <span>Idea management (not in cloud plans)</span></li> 
  <li> <span><a href="#">iOS & Android apps</a></span></li> 
 </ul>
</div>
</div>
</div>
<div class="sixthContent">
<h1>
  Customization / Integration
</h1>
<p>Because self hosted Bitrix24 editions give you direct access to the source code, it is fully customizable. API and SDK documentation help you integrate Bitrix24 with other services that are critical to your business.</p>
<div class="gridContainer1">
  <div class="grid-item1">
    <ul>
    <li> <span>Supplied in source code (unobfuscated)</span></li> 
    <li> <span>Built-in full-featured CMS</span></li> 
    <li> <span>Powerful backend</span></li> 
    <li> <span>Corporate identity (logo, brand colors, etc)</span></li> 
    <li> <span><a href="#">API, SDK</a></span></li> 
    <li> <span>Add your own modules, apps, bots</span></li> 
    <li> <span>Localization module – translate Slabs360 into any language</span></li> 
    <li> <span>Classic and social portal templates</span></li> 
    <li> <span>Native integrations with MS Exchange, Office 365, MS SharePoint lists</span></li> 
    <li> <span>SOAP web services</span></li> 
    <li> <span>Easy to integrate with any ERP</span></li> 
    
    <li> <span><a href="#">Slabs360 framework</a></span></li> 
  </ul>
  </div>
  <div class="grid-item2">
    <img src="../../assets/web_forms.png">
  </div>
</div>
</div>
<div class="seventhContent">
<h1>Affordable</h1>
<p>With a one-time fee that starts at only $1,490, you really own Slabs360.</p>
<div class="gridContainer1">
  <div class="grid-item1">
    <img src="../../assets/partners.png">
  </div>
  <div class="grid-item2">
    <ul>
    <li> <span>One-time fee*</span></li> 
    <li> <span>Unlimited user license available</span></li> 
    <li> <span>Free updates for the first 12 months</span></li> 
    <li> <span>Source code</span></li> 
    <li> <span>Free 30 day trial available</span></li> 
  </ul>
    <button><a href="#">LEARN MORE</a></button>
  </div>
</div>
</div>
<div class="eighthContent">
<h1>Easy to deploy and administer</h1>
<p>Bitix24 is easy to deploy and it runs on all popular servers. If you don’t own a server, our partners can help you with hosting, deployment, administration and training.</p>
<div class="gridContainer1">
  <div class="grid-item1">
    <img src="../../assets/site_template.png">
  </div>
  <div class="grid-item2">
    <ul>
    <li> <span><a href="#"> Amazon Web Services ready </a>(AMI image is available)</span></li> 
    <li> <span>MS Azure compatible</span></li> 
    <li> <span>No need to set servers up with<a href="#">  Bitrix Virtual Appliance</a>(CentOS, PHP, MySQL, NGNIX included)</span></li> 
    <li> <span><a href="#">BVA VMware image </a>(runs on Linux or Windows virtual machine)</span></li> 
    <li> <span><a href="#"> BVA VirtualBox image </a>(runs on Linux, Windows or MacOS)</span></li> 
    <li> <span><a href="#">  HIPAA, ISO 27001, SOC 1/2/3, Directive 95/46/EC and PCI DSS Level 1 </a>hosting available</span></li>
    <li> <span>No server? No problem –<a href="#">partner hosting is available </a></span></li> 
  </ul>
  </div>
</div>
</div>
<div class="ninethContent">
<div class="paragraph">
  <p>* - Current prices for on premise Bitrix24 editions are listed here. Each license comes with free updates and priority support for the first 12 months. Should you need updates and priority support after the first 12 months, a yearly subscription for those can be purchased at 25% of the current license price. If you choose not to renew your maintenance subscription, the software will remain fully functional for the indefinite period of time with the exception of modules that rely on Bitrix24 servers to be operational (e.g. telephony and REST API require active subscription).</p>

</div>
<h1>Got questions? Need a demo? Want to try self hosted Bitrix24 free for 30 days? Require customization?</h1>
<div class="button1">
<button><a href="#">YES,I DIDLIKE TO SHEDULE A DEMOWITH Slabs360</a></button>
</div>
<div class="button2">
<button><a href="#">NO,I DID LIKE TO DOWNLOAD AND INSTALL TRIAL VERSION MYSELF</a></button>
</div>
</div>

  
  <app-footer></app-footer>