<app-nav-bar></app-nav-bar>

<!-- homepage  -->



<div class="sectionHeader">
  <div class="grid-item1">
    <h1>Your Company. <br>United.</h1>
    <p>Free. Unlimited. Online.</p>
    <button>Register Free</button>
  </div>
</div>

<div class="whatIs">
  <h1>What is Slabs360?</h1>
</div>

<div class="whatIsContainer">
  <div class="gridItem1">
    <img src="images/communication.png">
    <p>Communications</p>
  </div>
  <div class="gridItem2">
    <img src="images/crm.png">
    <p>CRM</p>
  </div>
  <div class="gridItem3">
    <img src="images/help (1).png">
    <p>Contact Center</p>
  </div>
  <div class="gridItem4">
    <img src="images/research.png">
    <p>Websites</p>
  </div>
</div>

<div class="slabsOnPremise">
  <div class="textItem">
    <h1>Slabs360 on premise</h1>
    <p>You can use the self-hosted version of Slabs360 to run on your server. You get full control over data, source
      code access,
      and additional tools, such as helpdesk and e-learning, as well as integration and customization options.</p>
  </div>
  <div class="imageItem">
    <img src="images/tools_inc_on-premise_2.png">
  </div>
</div>

<div class="ready">
  <h1>Are you Read?</h1>
  <button>Register Free</button>
</div>